.App {
  text-align: center;
  width: 100%;
  color: #444
}


.header {
  background: #1d7e0c;
  color: white;
  height: 45px;
  display: flex;

}

.app-title {
  font-size: 1.1em;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

